.navbar {
  width: 100%;
  background: var(--invert-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  height: var(--navbar-height);
}

.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}